input#cc-number::-webkit-outer-spin-button,
input#cc-number::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input#cc-number[type=number] {
    -moz-appearance:textfield; /* Firefox */
}